.listItem__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.listItem__container > img{
    width: 85%;
    height: 150px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    border-radius: 12px;
    align-self: center;
    
}

.listItem__info{
    align-self: center;
    width: 85%;
}

.listItem__info > div{
    display: flex;
    justify-content: space-between;
    
}

.listItem__info > div > span{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    
}

.listItem__info > p{
    margin: 0px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 600;
}